*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'poppins', sans-serif;
}

body {
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('back1.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.container{
    padding: 30px 60px 0 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .logo{
    background-color: #fff;
    padding: 10px 22px;
}

.container .logo a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
}

.container .nav {
    
}

.container .nav .items{
    display: flex;
}

.container .nav .items li{
    padding-right: 20px;
}

.container .nav .items li a{
    text-decoration: none;
    color: #b8b8b8;
    opacity: 1;
    font-size: 16px;
}

.heading{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
}

.heading p {
    color: #b8b8b8;
    letter-spacing: 2px;
}

.heading h2 {
    color: #fff;
    font-size: 4em;
    word-spacing: 7px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.heading h2 span{
    font-weight: 100;
    color: #b8b8b8;
}

.heading .learn{
    color: #333;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #fff;
    width: 12%;
    padding: 10px 20px;
    text-decoration: none;
}

.icon {
    float: right;
    margin-right: 60px;
    width: 3%;
    position: relative;
    margin-top: -45px;
    opacity: 0;
}

.icon img {
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .container{
        padding: 30px 30px 0 30px;
    }

    .container .logo{
        background-color: #fff;
        padding: 6px 13px;
    }
    
    .container .logo a{
        font-size: 10px;
        letter-spacing: 2px;
    }

    .heading p {
        letter-spacing: 1px;
        font-size: 12px;
    }

    .heading h2 {
        font-size: 2em;
        word-spacing: 5px;
        letter-spacing: 5px;
    }
    
    .heading .learn{
        font-size: 10px;
        letter-spacing: 0.5x;
        width: 25%;
        cursor: pointer;
    }

    .container .nav .items li a{
        opacity: 0;
    }

    .icon {
        margin-right: 30px;
        width: 4%;
        margin-top: -30px;
        opacity: 1;
    }
    
    



}